matplotlib
scikit-learn
scikit-image
opencv-python 
yacs 
joblib 
natsort 
h5py 
tqdm
einops 
addict 
future 
lmdb 
numpy 
pyyaml 
requests 
scipy 
tb-nightly 
yapf 
lpips
ninja 
cython 
setuptools<60.0.0